<% provide(:title, "Sign In")%>
<%= page_title_tag "SignInGraphix.png" %>
<div class="col-lg-5 col-md-6 col-sm-7 col-xs-7 centered content-panel">	
	<%= form_for(:session, url: sessions_path) do |f|%>
		<div class="form-row">
			<%= f.label :email, "Email", class: 'cell form-label' %>
			<%= f.text_field :email, class: 'cell form-input' %>
		</div>
		<div class="form-row">
			<%= f.label :password, class: 'cell form-label' %>
			<%= f.password_field :password, class: 'cell form-input' %>
		</div>

		<br />

		<div style="overflow: auto;">			
			<div class="col-xs-4 "><%= f.submit "Sign in", class: "btn btn-large bttn centered"%></div>
			<div class="col-xs-4 " style="text-align: center;">- OR -</div>
			<div class="col-xs-4 "><%= link_to "Join Now", signup_path, class: "btn btn-large bttn centered", style: "color: #bad2ad"%></div>
		</div>
	<% end %>
</div>
