<% provide(:title, 'Search for Stories')%>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 centered content-panel">
	<%= form_tag search_path, id: 'story-search', method: :get do%>	
		<h1>Search for Stories</h1>
		
		<div class="floating-grid2">
			<div class="cell">
				<label>Genre:</label>
			</div>
			
			<div class="cell">
				<%= genre_select_tag 'work[genre]' %>
			</div>
		</div>
		
		<div class="floating-grid2">
			<div class="cell">
				<label>Length:</label>
			</div>
			
			<div class="cell">
				<%= length_select_tag 'work[length]' %>
			</div>
		</div>
			
		<div class="floating-grid2">
			<div class="cell">
				<label>Author:</label>
			</div>
			
			<div class="cell">
				<%= search_field_tag "work[author]", params.has_key?("work") && params[:work].has_key?("author") ? params[:work][:author] : "" %>
			</div>
		</div>
		
		<div class="floating-grid2">
			<div class="cell">
				<label>Title:</label>
			</div>
			
			<div class="cell">
				<%= search_field_tag "work[title]", params.has_key?("work") && params[:work].has_key?("title") ? params[:work][:title] : "" %>
			</div>
		</div>
		
		<div class="centered">
			<%= submit_tag "Search" %>
		</div>
	<% end %>
</div>	

<div class="data-list content-panel">
	<% iters = 0 %>
	<% @works.each do |work| %>
		<div class="<%= iters.even? ? 'list-item-even' : 'list-item-odd' %>">
			<a href="/works/<%= work.id %>" style="height: 100%; width: 100%;">
			<div class="pull-left"><img style="height: 60px;" src="#" /></div>
			<div><%= work.title %></div>
			<div><%= link_to work.author_name, work.user %></div>
			<div><%= work.blurb %></div>
			</a>
		</div>
		<% iters = iters + 1 %>
	<% end %>
</div>
