<div  class="content-panel" style="margin-bottom: 15px;">
	<div id="dynamic-title" class="centered" style="background: url('/assets/BlankGraphx.png') center no-repeat; background-size: 100% 100%; text-align: center;">
		<strong style="font-size: 30px; font-weight: bold; color: #b9d1ac;"><%= @work.title %></strong>
	</div>
</div>

<div class="col-lg-2 reading-panel">
	<div class="content-panel">
		<%= @work.blurb %>
	</div>
	<div class="content-panel">
		Social
		<div><a href="/download/<%= @work.id %>">Download</a></div>
	</div>
</div>

<div class="col-lg-8 reading-panel">
	<div class="content-panel">
		<div class="reading-pane">
			<%= @work.body %>
		</div>
	</div>
</div>

<div class="col-lg-2 reading-panel">
	<div class="content-panel fixed-donate">
		<a href="/donate/<%= @work.id %>"><%= image_tag "Donate.png" %></a>
	</div>
</div>

