<div  class="content-panel" style="margin-bottom: 15px;">
	<div id="dynamic-title" class="centered" style="background: url('/assets/BlankGraphx.png') center no-repeat; background-size: 100% 100%; text-align: center;">
		<strong style="font-size: 30px; font-weight: bold; color: #b9d1ac;"><%= @work.title %></strong>
	</div>
</div>

<div class="col-lg-2 reading-panel">
	<% unless @work.blurb.nil? %>
		<div class="content-panel">
			<%= @work.blurb %>
		</div>
	<% end %>
	<div class="content-panel">
		
		<%= render 'works/social_panel' %>
		
		<% unless @work.pdf.nil? %>
			<div><a href="/download/<%= @work.id %>">Download</a></div>
		<% else %>
			
		<% end %>
	</div>
</div>

<div class="col-lg-10 reading-panel">
	<div class="content-panel">
		<div class="reading-pane" style="">
			<% unless @is_poem %>
				<%= simple_format @work.body %>
			<% else %>
				<div class='centered' style="width: 40%"><pre style="border: none; white-space: word-wrap"><p style='line-height: initial;'><%= @work.body %></p></pre></div>
			<% end %>
			
		</div>
	</div>
</div>



