

<% provide(:title, @user.first_name + ' ' + @user.last_name) %>

<!-- Tailored "What's New" horizontal across top -->
<div class="floating-grid3">
	<div class="cell">
		<!-- Profile photo -->
		<div class="content-panel">
			<%= image_tag "xxx", height: '100' %>
		</div>
		
		<!-- User Bio -->
		<div class="content-panel">
			<%= @user.bio %>
		</div>
	</div>
	<div class="cell">
		<!-- Pen Name -->
		<div class="content-panel">
			<%= yield :title %>
		</div>
		
		<!-- User Since -->
		<div class="content-panel">
			User Since <%= @user.created_at.year %>
		</div>
		
		<!-- Stories -->
		<div class="content-panel">
			<% if signed_in? %>
				<a href="<%= stories_path %>"><%= image_tag "xxx.png" %></a>
			<% else %>
				<a href="/search?author=<%= @user.id %>"><%= image_tag "PostStory.png"%></a>
			<% end %>
		</div>
		
		<!-- Most popular story -->
		<% @works = [@popular] %>
		<%= render 'works/works_list' %>
	</div>
	
	
	<div class="cell">
		<!-- User stats -->
		<div class="content-panel">
			<div>Stories Published: <%= @user.works.length %></div>
			<div>Total Reads: <%= @user.works.sum(:read_count) %></div>
			<div>Amount Donated: </div>
			<div>Amount Recieved: </div>
		</div>
		
		<!-- Donate -->
		<div class="content-panel">
			<a href="#"><%= image_tag "Donate.png"%></a>
		</div>
	</div>
	
	
	
</div>

