

<% provide(:title, @user.first_name + ' ' + @user.last_name) %>

<!-- Tailored "What's New" horizontal across top -->
<div class="floating-grid3">
	<div class="cell">
		<!-- Profile photo -->
		<div class="content-panel">
			<%= profile_image %>
		</div>
		
		<!-- User Bio -->
		<div class="content-panel">
			<%= @user.bio %>
		</div>
	</div>
	<div class="cell">
		<!-- Pen Name -->
		<div class="content-panel">
			<%= yield :title %>
		</div>
		
		<!-- User Since -->
		<div class="content-panel">
			User Since <%= @user.created_at.year %>
		</div>
		
		<!-- Stories -->
		<div class="content-panel">
			<% if signed_in? %>
				<a href="<%= stories_path %>"><%= image_tag "MyStories.png" %></a>
			<% else %>
				<a href="/search/<%= @user.id.to_s %>"><%= image_tag "MyStories.png"%></a>
			<% end %>
		</div>
		
		<!-- Most popular story -->
		
		<div class="content-panel">
			<div class="list-item-even">
				<div class="pull-right" style="text-align: right">
					<div>Reads   <%= @popular.read_count %></div>
					<div>Downloads   <%= @popular.downloaded %></div>
					<div>Donated   <%= @popular.donated %></div>
				</div>
				<a href="/works/<%= @popular.id %>" style="height: 100%; width: 100%;">
					<div class="pull-left"></div>
					<div><%= @popular.title %></div>
				</a>
				<div style="width: 90%;"><%= @popular.blurb %></div>
			</div>
		</div>
	</div>
	
	
	<div class="cell">
		<!-- User stats -->
		<div class="content-panel">
			<div>Stories Published: <%= @user.works.length %></div>
			<div>Total Reads: <%= @user.works.sum(:read_count) %></div>
			<div>Amount Donated: </div>
			<div>Amount Recieved: </div>
		</div>
		
		<!-- Donate -->
		<div class="content-panel">
			<a href="#"><%= image_tag "Donate.png"%></a>
		</div>
	</div>
	
	
	
</div>

