<% provide(:title, "Home")%>


<div class="floating-grid3">
	<div class="cell">
		<div class="content-panel">
			<a href="/faq"><%= image_tag 'FAQ Newb Guide.png' %></a>
		</div>
		<div class="content-panel">
			<a href="/signup"><%= image_tag "JoinNow.png" %></a>
		</div>
		<div class="content-panel">
			<%= image_tag "What'sNew.png" %>
		</div>
	</div>
	<div class="cell">
		<div class="content-panel">
			<%= image_tag "Donate.png" %>
		</div>
		<div class="content-panel">
			<%= image_tag "ToolsandLinks.png" %>
		</div>
		<div class="content-panel">
			<a href="/search"><%= image_tag "BrowseStories.png" %></a>
		</div>
	</div>
	<div class="cell">
		<div class="content-panel">
			<%= image_tag "Stats.png" %>
		</div>
		<div class="content-panel">
			<a href="/signin"><%= image_tag "LogIn.png" %></a>
		</div>
	</div>
</div>

