<% provide(:title, "Home")%>

<style>
	.text {
	    position: absolute;
	    top: 15px;
	    left: 15px;
	    right: 15px;
		bottom: 15px;
		
	    color: #222222;
	    background-color:rgba(186, 210, 173,0.8);
	    
	    text-align: center;
	    z-index: 10;
	    opacity: 0;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    
	    font-size: xx-large;
	    
	    /* Internet Explorer 10 */
		display:-ms-flexbox;
		-ms-flex-pack:center;
		-ms-flex-align:center;
		
		/* Firefox */
		display:-moz-box;
		-moz-box-pack:center;
		-moz-box-align:center;
		
		/* Safari, Chrome, and Opera */
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		
		/* W3C */
		display:box;
		box-pack:center;
		box-align:center;
	}
	
	.text:hover {
    	opacity:1;
	}
</style>

<div class="floating-grid3">
	<div class="cell">
		<div class="content-panel">
			<a href="/faq"><div class="text">FAQ</div><%= image_tag 'FAQ Newb Guide.png' %></a>
		</div>
		
		<div class="content-panel">
			<div class="text">FAQ</div><%= image_tag "ProfileView.png" %>
		</div>
	</div>
	
	<div class="cell">
		<div class="content-panel">
			<div class="text">FAQ</div><%= image_tag "ToolsandLinks.png" %>
		</div>
		
		<div class="content-panel">
			<a href="/stories"><div class="text">Published Works</div><%= image_tag "Corruption Logo.png", style: 'height: 201px;' %></a>
		</div>
		
		<div class="content-panel">
			<div class="text">FAQ</div><%= image_tag "What'sNew.png" %>
		</div>
	</div>
	
	<div class="cell">
		<div class="content-panel">
			<a href="/works/new"><div class="text">FAQ</div><%= image_tag 'Followers.png' %></a>
		</div>
		<div class="content-panel">
			<div class="text">FAQ</div><%= image_tag "PostStory.png", style: 'height: 260px;' %>
		</div>
	</div>
</div>

