<% provide(:title, "Home")%>

<div class="floating-grid3">
	<div class="cell">
		<div class="content-panel">
			<a href="/poetry"><div class="text">Poetry</div><%= image_tag 'FAQ Newb Guide.png' %></a>
		</div>
		
		<div class="content-panel">
			<a href="/shortstories"><div class="text">Short Stories</div><%= image_tag "ProfileView.png" %></a>
		</div>
	</div>
	
	<div class="cell">
		<div class="content-panel">
			<a href="/parastories"><div class="text">Paragraph Stories</div><%= image_tag "ToolsandLinks.png" %></a>
		</div>
		
		<div class="content-panel">
			<a href="/published"><div class="text">Published Works</div><%= image_tag "Corruption Logo.png", style: 'height: 201px;' %></a>
		</div>
		
		<!--<div class="content-panel">
			<a href="/drawing"><div class="text">Drawing</div><%= image_tag "What'sNew.png" %></a>
		</div>-->
	</div>
	
	<div class="cell">
		<div class="content-panel">
			<a href="/painting"><div class="text">Painting</div><%= image_tag "What'sNew.png" %></a>
		</div>
		<div class="content-panel">
			<a href="/photography"><div class="text">Photography</div><%= image_tag "PostStory.png", style: 'height: 260px;' %></a>
		</div>
	</div>
</div>

